<div class="container">
  <div class="row">
    {{#each products}}
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card">
          <img class="card-img-top img-responsive" src= {{imagePath}} height="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <hr/>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <h4>${{price}}</h4>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>